Rwp/Service References/RwpSvc/RwpSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.thetasoft.com/rwpsvc/RwpSvc.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://www.thetasoft.com/rwpsvc/RwpSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RwpSvc" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsvTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsvTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCsvTeamsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsvTeamsStream">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsvTeamsStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetCsvTeamsStreamResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportCsvTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="stmCsv" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportCsvTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RwpSvc" minOccurs="0" name="ImportCsvTeamsResult" nillable="true" type="q3:SR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RwpSvc" minOccurs="0" name="ClearTeamsResult" nillable="true" type="q4:SR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSlots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RwpSvc" minOccurs="0" name="ClearSlotsResult" nillable="true" type="q5:SR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RwpSvc" minOccurs="0" name="ClearYearResult" nillable="true" type="q6:SR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsvSlots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsvSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="GetCsvSlotsResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportCsvSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/Message" name="stmCsv" type="q8:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportCsvSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RwpSvc" minOccurs="0" name="ImportCsvSlotsResult" nillable="true" type="q9:SR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>