Rwp/Service References/RwpSvc/RwpSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RwpSvc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RwpSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SR">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SRBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SR" nillable="true" type="tns:SR" />
  <xs:complexType name="SRBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SRBase" nillable="true" type="tns:SRBase" />
</xs:schema>