Rwp/Service References/RwpSvcStaging/RwpSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://thetasoft2.azurewebsites.net/rwpsvc/RwpSvc.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://thetasoft2.azurewebsites.net/rwpsvc/RwpSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://thetasoft2.azurewebsites.net/rwpsvc/RwpSvc.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://thetasoft2.azurewebsites.net/rwpsvc/RwpSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RwpSvc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Practice_GetData_InputMessage">
    <wsdl:part name="parameters" element="GetData" />
  </wsdl:message>
  <wsdl:message name="Practice_GetData_OutputMessage">
    <wsdl:part name="parameters" element="GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_GetCsvTeams_InputMessage">
    <wsdl:part name="parameters" element="GetCsvTeams" />
  </wsdl:message>
  <wsdl:message name="Practice_GetCsvTeams_OutputMessage">
    <wsdl:part name="parameters" element="GetCsvTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_GetCsvTeamsStream_InputMessage">
    <wsdl:part name="parameters" element="GetCsvTeamsStream" />
  </wsdl:message>
  <wsdl:message name="Practice_GetCsvTeamsStream_OutputMessage">
    <wsdl:part name="parameters" element="GetCsvTeamsStreamResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_ImportCsvTeams_InputMessage">
    <wsdl:part name="parameters" element="ImportCsvTeams" />
  </wsdl:message>
  <wsdl:message name="Practice_ImportCsvTeams_OutputMessage">
    <wsdl:part name="parameters" element="ImportCsvTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_ClearTeams_InputMessage">
    <wsdl:part name="parameters" element="ClearTeams" />
  </wsdl:message>
  <wsdl:message name="Practice_ClearTeams_OutputMessage">
    <wsdl:part name="parameters" element="ClearTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_ClearSlots_InputMessage">
    <wsdl:part name="parameters" element="ClearSlots" />
  </wsdl:message>
  <wsdl:message name="Practice_ClearSlots_OutputMessage">
    <wsdl:part name="parameters" element="ClearSlotsResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_ClearYear_InputMessage">
    <wsdl:part name="parameters" element="ClearYear" />
  </wsdl:message>
  <wsdl:message name="Practice_ClearYear_OutputMessage">
    <wsdl:part name="parameters" element="ClearYearResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_GetCsvSlots_InputMessage">
    <wsdl:part name="parameters" element="GetCsvSlots" />
  </wsdl:message>
  <wsdl:message name="Practice_GetCsvSlots_OutputMessage">
    <wsdl:part name="parameters" element="GetCsvSlotsResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_GetCalendarForTeam_InputMessage">
    <wsdl:part name="parameters" element="GetCalendarForTeam" />
  </wsdl:message>
  <wsdl:message name="Practice_GetCalendarForTeam_OutputMessage">
    <wsdl:part name="parameters" element="GetCalendarForTeamResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_ImportCsvSlots_InputMessage">
    <wsdl:part name="parameters" element="ImportCsvSlots" />
  </wsdl:message>
  <wsdl:message name="Practice_ImportCsvSlots_OutputMessage">
    <wsdl:part name="parameters" element="ImportCsvSlotsResponse" />
  </wsdl:message>
  <wsdl:message name="Practice_GetServerInfo_InputMessage">
    <wsdl:part name="parameters" element="GetServerInfo" />
  </wsdl:message>
  <wsdl:message name="Practice_GetServerInfo_OutputMessage">
    <wsdl:part name="parameters" element="GetServerInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="Practice">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="urn:Practice/GetData" message="Practice_GetData_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/GetDataResponse" message="Practice_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCsvTeams">
      <wsdl:input wsaw:Action="urn:Practice/GetCsvTeams" message="Practice_GetCsvTeams_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/GetCsvTeamsResponse" message="Practice_GetCsvTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCsvTeamsStream">
      <wsdl:input wsaw:Action="urn:Practice/GetCsvTeamsStream" message="Practice_GetCsvTeamsStream_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/GetCsvTeamsStreamResponse" message="Practice_GetCsvTeamsStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportCsvTeams">
      <wsdl:input wsaw:Action="urn:Practice/ImportCsvTeams" message="Practice_ImportCsvTeams_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/ImportCsvTeamsResponse" message="Practice_ImportCsvTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearTeams">
      <wsdl:input wsaw:Action="urn:Practice/ClearTeams" message="Practice_ClearTeams_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/ClearTeamsResponse" message="Practice_ClearTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearSlots">
      <wsdl:input wsaw:Action="urn:Practice/ClearSlots" message="Practice_ClearSlots_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/ClearSlotsResponse" message="Practice_ClearSlots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearYear">
      <wsdl:input wsaw:Action="urn:Practice/ClearYear" message="Practice_ClearYear_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/ClearYearResponse" message="Practice_ClearYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCsvSlots">
      <wsdl:input wsaw:Action="urn:Practice/GetCsvSlots" message="Practice_GetCsvSlots_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/GetCsvSlotsResponse" message="Practice_GetCsvSlots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendarForTeam">
      <wsdl:input wsaw:Action="urn:Practice/GetCalendarForTeam" message="Practice_GetCalendarForTeam_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/GetCalendarForTeamResponse" message="Practice_GetCalendarForTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportCsvSlots">
      <wsdl:input wsaw:Action="urn:Practice/ImportCsvSlots" message="Practice_ImportCsvSlots_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/ImportCsvSlotsResponse" message="Practice_ImportCsvSlots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <wsdl:input wsaw:Action="urn:Practice/GetServerInfo" message="Practice_GetServerInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:Practice/GetServerInfoResponse" message="Practice_GetServerInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>