Rwp/Service References/RwpSvcStaging/RwpSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RwpSvc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RwpSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RSR">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RSRBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RSR" nillable="true" type="tns:RSR" />
  <xs:complexType name="RSRBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RSRBase" nillable="true" type="tns:RSRBase" />
  <xs:complexType name="RSR_CalItems">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TRSROfArrayOfCalItemQ1Zl4_P0R">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RSR_CalItems" nillable="true" type="tns:RSR_CalItems" />
  <xs:complexType name="TRSROfArrayOfCalItemQ1Zl4_P0R">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TRSROf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RwpSvc" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCalItem" Namespace="http://schemas.datacontract.org/2004/07/RwpSvc" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RSRBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="TheValue" nillable="true" type="tns:ArrayOfCalItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TRSROfArrayOfCalItemQ1Zl4_P0R" nillable="true" type="tns:TRSROfArrayOfCalItemQ1Zl4_P0R" />
  <xs:complexType name="ArrayOfCalItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalItem" nillable="true" type="tns:CalItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalItem" nillable="true" type="tns:ArrayOfCalItem" />
  <xs:complexType name="CalItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalItem" nillable="true" type="tns:CalItem" />
</xs:schema>